python-dotenv
groq
AppOpener
pywhatkit
bs4
pillow
rich
requests
keyboard
cohere
googlesearch-python
selenium
webdriver-manager
python-dotenv
mtranslate
mtranslate
pygame
edge-tts
pyQt5
webdriver-manager
speechrecognition==3.8.1
pyttsx3==2.7
googletrans
serial
pyserial
asyncio
requests
googletrans
pygame
edge-tts
pyautogui
pandas
asyncio
keyboard
python-dotenv
pywhatkit
pygetwindow
AppOpener
pywin32
psutil
